body {
    margin: 0;
    padding-top: 60px;
}

/* Navigation bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #2d313e;
    background-color: #f0f0f0;
}

.header-content {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#academic-group {
    font: 30px 'Montserrat ExtraBold';
    color: #006A98;
    margin-left: auto;
    margin-right: 20px;
}

#chat_logo {
    width: 50px;
    height: 50px;
    margin: 7px;
    border-radius: 20%;
}

#weekInfo {
    font: 40px 'Montserrat ExtraBold';
    text-align: left;
    margin-left: 5px;
}

/* Main content */

.days-of-the-week {
    font: 20px "montserrat";
    color: #006A98;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 50px 8px 155px;
}

/* Background table for lessons with lines */
.background-rectangle {
    background-color: #E3E3E3;
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px 30px;
}

.odd-week-background-rectangle {
    background-color: #FFE8E8;
}

.even-week-background-rectangle {
    background-color: #E5E8FF;
}

.separate-lines {
    border-top: 1px;
    border-style: dashed;
    border-color: #000000;
    margin: 10px 0; 
}

/* Lesson block with time and position */
.lesson-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    width: 120px;
    height: 17.5vh;
    overflow: auto;
    margin-left: 10px;
}

.lesson-time {
    font: 18px "Montserrat Light";
    color: #006A98;
    text-align: center;
    margin: 5px 0;
}

.lesson-position {
    font-size: 27px;
    font-family: "montserrat";
    text-align: center;
}

.upper-time {
    margin-top: 5px;
    vertical-align: top;
}

.lower-time {
    vertical-align: bottom;
    margin-bottom: 5px;
}

.row-of-lessons {
    display: flex;
    flex-wrap: wrap;
}

.lesson-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: #ffffff;
}

.lesson-name {
    font-size: 23px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: auto;
}

.lesson-teacher {
    font: 15px "Montserrat";
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin-top: auto;
}

.lesson-lecture {
    box-shadow: 0 0 10px 0 #6773ff;
}

.lesson-practice {
    box-shadow: 0 0 10px 0 #ff6b6b;
}

.lesson-lab {
    box-shadow: 0 0 10px 0 #33FF3B;
}

.null-lesson-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
}
