body {
    margin: 0px;
}

/* Navigation bar */
.navbar {
    border-top: 0px;
    border-bottom: 2px solid #2d313e;
    background-color: #f0f0f0;
}

.header-content {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#academic-group {
    float: right;
    font-size: 30px;
    font-family: 'Montserrat ExtraBold';
    color: #006A98;
    margin-left: auto;
    margin-right: 20px;
}

#chat_logo {
    width: 50px;
    height: 50px;
    margin: 7px;
    border-radius: 20%;
}

#weekInfo {
    font-size: 40px;
    font-family: 'Montserrat ExtraBold';
    text-align: left;
    margin-left: 5px;
}

/* Main content */

.days-of-the-week {
    font-size: 20px;
    font-family: "montserrat";
    color: #006A98;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 8px;
    margin-left: 155px;
    margin-right: 50px;
}

/* Background table for lessons with lines */
.background-rectangle {
    background-color: #E3E3E3;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.odd-week-background-rectangle {
    background-color: #FFE8E8;
}

.even-week-background-rectangle {
    background-color: #E5E8FF;
}

.separate-lines {
    border-top: 1px;
    border-style: dashed;
    border-color: #000000;
    margin-top: 10px;
    margin-bottom: 10px; 
}

/* Lesson block with time and position */
.lesson-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #F6F7FF;
    border-radius: 10px;
    width: 120px;
    height: 128px;
    margin-left: 10px;
}

.lesson-time {
    font-size: 18px;
    font-family: "Montserrat Light";
    color: #006A98;
    text-align: center;
}

.lesson-position {
    font-size: 27px;
    font-family: "montserrat";
    text-align: center;
}

.upper-time {
    margin-top: 5px;
    vertical-align: top;
}

.lower-time {
    vertical-align: bottom;
    margin-bottom: 5px;
}

.row-of-lessons {
    display: flex;
    flex-wrap: wrap; /* This allows the items to wrap onto the next line if there isn't enough space */
}

.lesson-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;

    background-color: #ffffff;
}

.lesson-info-block-lecture {
    box-shadow: 0 0 10px 0 #6773ff;
}

.lesson-info-block-practice {
    box-shadow: 0 0 10px 0 #ff6b6b;
}

.lesson-info-block-lab {
    box-shadow: 0 0 10px 0 #ff9f6b;
}

.null-lesson-info-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;

    background-color: unset;
}

/* Responsive design */
/*
@media(max-width: 768px) {
    #weekInfo {
        font-size: 30px;
    }

    .days-of-the-week {
        font-size: 15px;
    }
}
*/