.background-rectangle {
    background-color: #E3E3E3;
    border-radius: 10px;
    margin: 25px 10px 25px 10vw;
    padding-top: 10px;
}

.days-of-the-week {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    text-align: justify;
}

.separate-lines {
    position: relative;
    grid-column: 1 / -1;
    border-top: 1px dashed #000000;
    margin: 10px 0; 
    width: 100%;
}
  
/* .odd-week-background-rectangle {
    background-color: #FFE8E8;
}

.even-week-background-rectangle {
    background-color: #E5E8FF;
} */

.lesson-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
}
  
.lesson-name {
    font-size: 23px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: auto;
    cursor: pointer;
    text-decoration: none;
}

.lesson-name:hover {
    text-decoration: underline;
}

.lesson-teacher {
    font: 15px "Montserrat";
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin-top: auto;
}

.lecture {
    box-shadow: 0 0 10px 0 #6773ff;
}

.practice {
    box-shadow: 0 0 10px 0 #ff6b6b;
}

.lab {
    box-shadow: 0 0 10px 0 #33FF3B;
}

.null-lesson-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: default;
    text-decoration: none;
}