.navbar {
  --bs-navbar-padding-y: 0 !important;
}

nav {
  width: 100%;
  border-bottom: 2px solid #2d313e;
  background-color: #f0f0f0;

  div span {
    display: flex;
    align-items: center;

    img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 20%;
    }

    h2 {
      padding: 0 1rem;

      @media (prefers-color-scheme: dark) {
        color: #f0f0f0;
      }
    }
  }
}
